.home_profile {
  position: relative;
  width: 100%;
  top: 25vh;
  color: black;
}

.home_profile .row {
  width: 100%;
  margin: auto;
}

#profile_pic {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#name_block {
  position: relative;
  margin: auto;
  top: 6vw;
}

#full_name {
  text-align: center;
  color: black;
  font-family: 'Felipa', Helvetica;
  font-size: 5em;
  letter-spacing: 5px;
  font-weight: bold;
}

/*.line {
  position: relative;
  top: 5.5vw;
  width: 80%;
  height: 2px;
  background-color: gray;
  margin: auto;
}*/

#message_block {
  position: relative;
  margin: auto;
  top: 7vw;
}

#message {
  text-align: center;
  color: gray;
  vertical-align: middle;
  font-family: Georgia;
  font-size: 2em;
  font-style: italic;
}